#about {
    min-height: 70vh;
    height: auto;
    padding-top: 10vh;

    #presentation {
        position: relative;
        font-size: 3rem;

        width: 50vw;

        top: 10%;
        left: 15%;
        
        text-align: justify;
    }
}

@media screen and (max-width: 1000px) {
    #about {
        #presentation {
            font-size: 2.5rem;

            width: 90vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}