#contact {
    position: relative;
    height: 70vh;

    form {
        position: absolute;

        height: 50vh;
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding-left: auto;

        font-size: 2rem;

        .inputText {
            display: inline-block;
            width: 25vw;

            &#blockFirstname {
                position: relative;
                left: 29%;

                transform: translateX(-50%);
            }

            input {
                width: 25vw;
            }
        }

        #blockMail {
           padding-top: 2vh;

            input {
                width: 55vw;
            }    
        }

        #blockMessage {
            padding-top: 2vh;
            
            textarea {
                width: 55vw;
            }
        }

        #button {
            position: relative;
            padding-top: 2vh;

            input {
                position: absolute;
                color: $main_grey;

                padding: 1vh 1.5vw;
                right: 4.5vw;

                font-size: 1.5rem;
            }
        }
    }
}