html {
    font-size: 62.5%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $light_grey;

    body {
        color: $main_blue;
        text-shadow: $main_white 0.05rem 0.1rem 0.1em;
        background-color: $light_grey;
    }
    
    section {
        position: relative;
        left: 10%;

        width: 90vw;
        height: 100vh;
    }

    .bold {
        font-weight: bold;
    }
}

html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}