html {
    font-size: 62.5%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $light_grey;
    font-family: "montserrat_medium";

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    body {
        color: $main_blue;
        text-shadow: $main_white 0.01rem 0.1rem 0.1em;
        background-color: $light_grey;
    }
    
    section {
        position: relative;
        left: 10%;

        width: 90vw;
        height: 100vh;
    }

    .bold {
        font-weight: bold;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    html {
        section {
            position: relative;
            left: 0;

            width: 100vw;
            min-height: 100vh;
            height: auto;
        }
    }
}