h1.projet {
    position: relative;
    top: 15%;
    left: 10%;

    font-size: 5rem;
}

#project {
    height: 50vh;
}

#theProject {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 75vw;
    top: 20%;
    left: 10%;

    .projet {
        position: relative;
        width: 350px;
        height: 200px;
        margin-bottom: 20px;

        .explication {
            position: absolute;
            display: none;
            width: 320px;

            text-align: center;
            font-size: 2rem;
            color: $main_white;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            position: absolute;
            top: 0;
            width: 350px;
            height: 200px;

            color: $second_blue;
            font-size: 3rem;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {

            a {
                opacity: 0.1;
            }

            .explication {
                display: initial;
                opacity: 1;
            }
        }
    }
}
